* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: white;
    color: black;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    flex: 25%;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
   
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  h1, h2{
    text-align: center;
    font-size: 70px;
  }
  figcaption{
    text-align: center;
  }
footer{
  text-align: center;
  font-size: 40px;
  font-style: oblique;
}

  /*
  body, html {
    height: 100%;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

/*img {
    width: 150%; 
    height: auto;
    margin: 1%; 
    object-fit: contain;
}

h2, h1{
  text-align: center;
  font-size: 50px;
  
}
figcaption{
  text-align: center;
}
footer{
  text-align: center;
  font-size: 40px;
}*/